<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Пять самых используемых форм</title>
</head>
<body>
<p><a th:href="@{/}">На главную</a></p>
<h1>Пять самых используемых форм</h1>
<p><a th:href="@{/}">На главную</a></p>
<h1>Не дошедшие до конца пользователи</h1>
<table>
  <tr>
    <th colspan="1" rowspan="1">Форма (grp:formid)</th>
    <th colspan="1" rowspan="1">Число обращений</th>
  </tr>
  <!--/*@thymesVar id="topFive" type="java.util.List<java.util.Map.Entry<java.lang.String, java.lang.Integer>>"*/-->
  <tr th:each="item : ${topFive}">
    <td colspan="1" rowspan="1" th:text="${item.key}"></td>
    <td colspan="1" rowspan="1" th:text="${item.value}"></td>
  </tr>
</table>
<p><a th:href="@{/}">На главную</a></p>
</body>
</html>
